<div class="footer">
    <div id="footer_div">
        <div class="centered_div">
          <img class="footer_icon_img" src="../../assets/ig.png" alt="IG">
          <p class="no_margin_p">Follow us on Instagram:</p>
          <a href="https://www.instagram.com/saulkocsis/" target="_blank" class="footer_link"><p style="margin: 0;"><span class="brown_link">@voicebox_IG</span></p></a>
        </div>
        <div class="border"></div>
        <div class="centered_div">
          <img class="footer_icon_img" src="../../assets/gmail.png" alt="Email">
          <p class="no_margin_p">You have any problem? Email us:</p>
          <a href="mailto:VoiceBox@gmail.com" class="footer_link"><p style="margin: 0;"><span class="brown_link">VoiceBox@gmail.com</span></p></a>
        </div>
        <div class="border"></div>
        <div class="centered_div">
          <img class="footer_icon_img" src="../../assets/fb.png" alt="telephone">
          <p class="no_margin_p">Follow us on Facebook:</p>
          <a href="https://www.facebook.com/saul.kocsis" class="footer_link"><p style="margin: 0;"><span class="brown_link">voicebox</span></p></a>
        </div>
        
      </div>
</div>
